[Unit]
Description=Waydroid user session
After=waydroid-container.service
Requires=waydroid-container.service

[Service]
ExecStart=/usr/bin/waydroid session start
Restart=always

[Install]
WantedBy=default.target
