[Unit]
Description=Bluetooth Auto Reconnect
After=bluetooth.service suspend.target
Requires=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bluetooth-autofix.sh
RemainAfterExit=false

[Install]
WantedBy=multi-user.target suspend.target

