@define-color accent #617917;

@define-color font1 #7D7D17;
@define-color font2 #91851B;
@define-color font3 #A5831F;
@define-color font4 #B98E22;
@define-color font5 #B98E22;
@define-color font6 #D4D2CD;
@define-color font7 #000000; 
@define-color font8 #D4D2CD;
