@define-color bg #000;
@define-color fg #fff;
@define-color accent #7dcfff;

label {
  font-family: "Inter", "CaskaydiaCove Nerd Font", sans-serif;
  font-size: 15px;
  padding-left: 4px;
}

.background {
  background-color: transparent;
}

.tooltip-solid {
  background-color: @bg;
  opacity: 0.85;
  border-radius: 10px;
  padding: 6px 10px;
}

.widget-tray,
.wlogout,
.sysinfo-dynamic,
.netspeed,
.combinedBattery,
.volume,
.clock,
.zscroll,
.workspaces {
  background-color: @bg;
  opacity: 0.85;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 0 10px;
  margin: 0 2.5px;
}

/* Tray */
.widget-tray {
  color: #ff757f;
}

.widget-tray * {
  background-color: @bg;
  padding: 0 1px;
}

/* Wlogout */
.wlogout {
  font-size: 17px;
  color: #ff3c4a;
}

.wlogout:hover {
  color: @accent;
}

/* Sysinfo */
.sysinfo-dynamic {
  color: @accent;
}

/* Netspeed / Battery / Volume */
.netspeed {
  color: #fb7d34;
}

.combinedBattery {
  color: #ff7da8;
}

.volume {
  color: #ab97d2;
}

/* Clock */
.clock {
  font-family: "CaskaydiaCove Nerd Font";
  color: @accent;
}

.clock_date {
  color: rgb(94, 129, 172);
}

/* Zscroll */
.zscroll {
  color: #bb9af7;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 5px 2px;
}

/* Workspaces */
.workspaces {
  font-size: 12px;
  /* smaller numbers */
  font-weight: bold;
  color: #000;
}

.workspaces button {
  min-width: 20px;
  /* enough for circle border */
  padding: 0 4.5px 2px 2px;
  /* top right bottom left */
  margin: 2px 1px 2px 1px;
  border-radius: 50%;
  /* circle shape */
  background: transparent;
  color: #fff;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.workspaces .item.focused {
  background: #fc2d3a;
  color: #000;
  opacity: 1;
}

.workspaces button:hover {
  background: rgba(255, 45, 38, 0.3);
  /* subtle hover for unfocused */
  color: #000;
  opacity: 0.85;
}
