@import url("/home/zaeem/.config/ironbar/ironbar_dynamic_colors.css");

@define-color bg rgba(0, 0, 0, 0.9);

label {
  font-family: "Inter", "CaskaydiaCove Nerd Font", sans-serif;
  font-size: 15px;
  padding-left: 4px;
}

.background {
   background-color: transparent;
  /*
   for full black bar
   background-color: @bg;
   border-radius: 15px; */
}

.tooltip-solid {
  background-color: @bg;
  opacity: 0.85;
  border-radius: 10px;
  padding: 6px 10px;
}

.widget-tray,
.wlogout,
.sysinfo-dynamic,
.warp,
.netspeed,
.combinedBattery,
.volume,
.clock,
.zscroll,
.todoist,
.ultra_power_saving,
.workspaces {
  background-color: @bg;
  opacity: 0.95;
  border-radius: 13px;
  transition: 0.2s ease-in-out;
  padding: 0 10px;
  margin: 0 2.5px;
}

/* Tray */
.widget-tray { color: @font6; }
.widget-tray * { background-color: transparent; padding: 0 1px; }

/* UPSM */
.ultra_power_saving {
  padding: 0 10px 0 7px;
  font-size: 16px;
}

.waydroid{
  font-size: 20px;
  padding: 0 0px 0 9px;
  background-color: @bg;
  opacity: 0.85;
  border-radius: 13px;
  transition: 0.2s ease-in-out;
  margin: 0px 2.5px;
}

/* Warp */
.warp { padding: 0 11.9px 0 7px; font-size: 16px; }

/* Wlogout */
.wlogout { font-size: 17px; color: @font0; }
.wlogout:hover { color: @accent; }

/* Sysinfo */
.sysinfo-dynamic { color: @font3; }

/* Netspeed / Battery / Volume */
.netspeed { color: @font4; }
.combinedBattery { color: @font1; }
.volume { color: @font2; }

/* Clock */
.clock { font-family: "CaskaydiaCove Nerd Font"; color: @font6; }
.clock_date { color: @accent; }

/* Zscroll */
.zscroll { color: @font5; box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 5px 2px; }

/* Workspaces */
.workspaces {
  font-size: 12px;
  font-weight: bold;
  color: @accent;
}

.workspaces button {
  min-width: 20px;
  padding: 0 4.5px 2px 2px;
  margin: 2px 1px 2px 1px;
  border-radius: 50%;
  background: transparent;
  color: @accent;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.workspaces .item.focused {
  background: @accent;
  color: @font6;
  opacity: 1;
}

.workspaces button:hover {
  background: rgba(125, 207, 255, 0.3); /* semi-transparent accent */
  color: @font6;
  opacity: 0.85;
}

