/* ------------------- base colours --------------------------- */
@define-color normal   #B98E22;
@define-color light    #B98E22;
@define-color dark     #B98E22;
@define-color lighter  #B98E22;
@define-color accent   #B98E22;
@define-color hover    #B98E22;
@define-color warning  #B98E22;

@define-color normal_a3 rgba(185, 142, 34, 0.03);
@define-color normal_a6 rgba(185, 142, 34, 0.06);
@define-color normal_a8 rgba(185, 142, 34, 0.08);
@define-color normal_a12 rgba(185, 142, 34, 0.12);
@define-color normal_a16 rgba(185, 142, 34, 0.16);
@define-color normal_a24 rgba(185, 142, 34, 0.24);
@define-color normal_a26 rgba(185, 142, 34, 0.26);
@define-color normal_a30 rgba(185, 142, 34, 0.30);
